[submodule "external/embree"]
	path = external/embree
	url = https://github.com/karkinos-krakatoa/embree.git
[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/karkinos-krakatoa/oneTBB.git
